@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Posts</h1>

<p>
    <a class="btn @Model.ButtonSchemeValue" asp-page="PostCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Blog)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Post) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Blog.BlogId)
            </td>
        </tr>
}
    </tbody>
</table>
